*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES*/




/* HEADER RULES*/
.jumbotron{
  background-color: aquamarine;
  padding-top: 10px;
  

  
}
.menu{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;    /*misura fittizzia*/
  margin: 0px auto;
  background-color: chocolate;
}

.logo{
  width: 25%;

}
.link-title{
  display: flex;
  justify-content: center;
  width: 50%;
  
}
.link-title a{
  padding-left: 15px;
}


.button-login{
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.sfondo-titolo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
.container-title{
  width: 70%;
  height: 90%;
  background-color: deeppink;
}


/* MAIN RULES*/
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 500px;
}
.main-container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 80, 80);
  width: 100%;
  height: 500px;
}
.main-div{
  width: 50%;
  height: 90%;
  background-color: rgb(58, 80, 158);
}
.aside-section{
  width: 30%;
  height: 90%;
  background-color: rgb(255, 134, 199);
}
.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 80, 80);
  width: 100%;
  height: 600px;
}
.main-big-div1{
  width: 80%;
  height: 20%;
  background-color: rgb(60, 158, 58);
}
.main-big-div2{
  width: 80%;
  height: 60%;
  background-color: rgb(158, 83, 58);
}
.main-big-div3{
  width: 80%;
  height: 20%;
  background-color: rgb(60, 158, 58);
}



/* FOOTER RULES*/
footer{
  background-color: rgb(44, 38, 45);
}
.blocco-referenze{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.social-block{
  width: 30%;
  height: 95%;
  background-color: aqua;
}
.prodotto{
  width: 12%;
  height: 95%;
  background-color: deeppink;
}
.compagnia{
  width: 12%;
  height: 95%;
  background-color: rgb(224, 155, 191);
}
.risorse{
  width: 12%;
  height: 95%;
  background-color: rgb(244, 203, 225);
}
.norme{
  width: 12%;
  height: 95%;
  background-color: rgb(248, 234, 241);
}
/* .blocco-ending{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
  width: 90%;
  height: 60px;
  margin: 10px auto;

} */
.ending-menu{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  margin: 10px auto;
  align-items: flex-end;
  background-color: rgb(44, 38, 45);
  border-top: 1px solid rgb(255, 255, 255);
}