*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES*/




/* HEADER RULES*/
.jumbotron{
  display: flex;
  
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40px;    /*altezza fittizzia*/
  margin: 0 auto;
  background-color: chocolate;
}

.logo{
  display: flex;
  width: 25%;

}
.link-title{
  width: 50%;
}


.button-login{
  width: 25%;
}



/* MAIN RULES*/




/* FOOTER RULES*/



