*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES*/




/* HEADER RULES*/
.jumbotron{
  background-color: aquamarine;
  padding-top: 10px;
  padding-bottom: 10px;

  
}
.menu{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;    /*misura fittizzia*/
  margin: 0px auto;
  background-color: chocolate;
}

.logo{
  width: 25%;

}
.link-title{
  display: flex;
  justify-content: center;
  width: 50%;
  
}
.link-title a{
  padding-left: 15px;
}


.button-login{
  display: flex;
  justify-content: flex-end;
  width: 25%;
}



/* MAIN RULES*/




/* FOOTER RULES*/



